<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">sha123</property>
    <mapping resource="library/Btechpatron.hbm.xml"/>
    <mapping resource="library/Department.hbm.xml"/>
    <mapping resource="library/Mcapatron.hbm.xml"/>
    <mapping resource="library/Biotechpatron.hbm.xml"/>
    <mapping resource="library/Mbapatron.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="library/Mcaissue.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
