/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
margin: 0px;
padding: 0px;
}

a:link {
	color: #A5A9B2;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a:visited {
	color: #A5A9B2;
}

body {
	
	background: #6A8B1A url(images/back_all.gif);
	font: 13px Arial, Helvetica, sans-serif;
	color: #E0E0E0;
}

#content
{
	width: 774px;
	border-left: 15px solid #5E7D06;
	border-right: 15px solid #5E7D06;
	margin: 0px auto;
}

#main
{
width: 754px;
padding: 10px;
padding-top: 20px;
background: #5E7D06 url(images/table_back.gif) repeat-x top;
}

#back
{
width: 774px;
}

#header {
	height: 369px;
	text-align: right;
	background: url(images/header1.jpg) no-repeat;		
}

#logo {

width: 754px;
height: 100px;
text-align: left;
padding-top: 208px;
padding-left: 20px;
}


#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #ffffff;
}
#logo H2 a
{
font-size: 12px;
}


#menu
{
width: 634px;
height: 61px;
padding-left: 140px;
background: url(images/menu.gif) repeat-x;
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 100px;
	height: 36px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 25px;
}

#menu a:hover {
	width: 100px;
    height: 36px;
	color: #DEEBBC;
	text-decoration: underline;
	background: url(images/menu_r.gif) repeat-x;
}




#right
{
	width: 228px;
	float: right;
}

#right H3
{
width: 203px;
height: 31px;
font-size: 14px;
font-weight: bold;
padding-left: 25px;
padding-top: 20px;
text-transform: uppercase;
color: #ffffff;
background: url(images/title.gif) no-repeat
}

#right ul {
	list-style: none;
	margin-bottom: 10px;
	padding-top: 10px;
}

#right .title_back
{
background: url(images/title_back.gif) no-repeat;
}

#right li  {
	padding: 7px;
	padding-left: 10px;

}

#right .sub
{
	padding-left: 30px;
}

#right a {
	color: #ffffff;
}
#right a:visited {
	color: #ffffff;
}

#right p
{
font-size: 10px;
padding-left: 10px;
}

.bot
{
padding: 10px;
}

#calendar {
	padding: 20px 10px 20px 10px;
}

#calendar table {
	width: 100%;
	text-align: center;
}

#calendar thead {

}

#calendar tbody td {
	border: 1px solid #F1F1F1;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar tfoot a {
	text-decoration: none;
	font-weight: bold;
}

#calendar #now {
	background: #696969;
	border: 1px solid #ff0000;
	font-weight: bold;
	color: #ffffff;
}

#left
{
width: 480px;

color:#E0E0E0;
border: 1px solid #3D5103;
padding: 10px;
}


#left H4
{
	margin: 0;
	padding: 0px;
	font-size: 12px;
	color: #208A06;
}

#left a
{
color: #208A06;
text-decoration: none;
}

#left p {
	margin: 5px;
	padding: 0;
}

#left h2 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #208A06;
}

#left ol, #left ul
{
margin-left: 30px;
}

.date {
	text-align: right;
	color: #208A06;
	font-size: 11px;

}

.date a {
	color: #208A06;

}




#footer {
	height: 44px;
	clear: both;
	padding-top: 30px;
	background: url(images/table_back.gif) repeat-x top;
}

#footer p {
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}
#left H1{
	font-family: Tahoma, Geneva, Verdana;
	font-weight:normal;
	color: #ffffff;
	font-size: 18px;
	height: 35px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	width:100%;
	margin-bottom:20px;
	background: url(images/title_left.jpg);
	background-repeat:no-repeat;
	background-position:top left;
}
